{% comment %}
 Puts an image in a blog post, with a higer resolution version on click. Call with:
 image="url to image"
 title="description of the image"
{% endcomment %}


{% comment %}
 We make an 'id' to link the unclicked picture to the modal window that will pop up
 This is just the image name
{% endcomment %}
{% assign id={{include.image | split: '/' | last | split: '.' | first }} %}
 
<!-- The unclicked picture -->
<button type="button" class="btn blogimage" data-bs-toggle="modal" data-bs-target="#modal_{{id}}" aria-label="{{include.title}}"> 
  <img class="blogimage" src="{{ include.image | split: "?" | first }}?tr=w-640"/>
</button>
   
<!-- The clicked picture (shows larger, in a modal window) -->
<div class="modal fade" id="modal_{{id}}" tabindex="-1" aria-labelledby="modal_{{id}}Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="picturecard" style="background-image:url('{{ include.image | split: "?" | first }}?tr=w-1024')"></div>
        <div class="text-center">{{include.title}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

