<div class="blognav btn-toolbar d-flex gap-2 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group gap-1 me-2" role="group" aria-label="All blogs group">
    <a href="/blog"><button type="button" class="btn btn-outline-secondary">All</button></a>
  </div>
  <div class="btn-group gap-1 me-2" role="group" aria-label="Trail blogs group">
    <a href="/blog/rev/pct"><button type="button" class="btn btn-outline-secondary">PCT</button></a>
    <a href="/blog/rev/cdt"><button type="button" class="btn btn-outline-secondary">CDT</button></a>
    <a href="/blog/rev/at"><button type="button" class="btn btn-outline-secondary">AT</button></a>
    <a href="/blog/rev/lt"><button type="button" class="btn btn-outline-secondary">LT</button></a>
    <a href="/blog/rev/gdt"><button type="button" class="btn btn-outline-secondary">GDT</button></a>
    <a href="/blog/rev/azt"><button type="button" class="btn btn-outline-secondary">AZT</button></a>
  </div>
  <div class="btn-group gap-1 me-2" role="group" aria-label="Cateogry blogs group">
    <a href="/blog/hiking"><button type="button" class="btn btn-outline-secondary">Hiking</button></a>
    <a href="/blog/canoeing"><button type="button" class="btn btn-outline-secondary">Canoeing</button></a>
    <a href="/blog/bikepacking"><button type="button" class="btn btn-outline-secondary">Bikepacking</button></a>
    <a href="/blog/winter"><button type="button" class="btn btn-outline-secondary">Winter</button></a>
    <a href="/blog/gear"><button type="button" class="btn btn-outline-secondary">Gear</button></a>
    <a href="/blog/tips"><button type="button" class="btn btn-outline-secondary">Tips</button></a>
    <a href="/blog/stories"><button type="button" class="btn btn-outline-secondary">Stories</button></a>
  </div>
</div>
