{% comment %}
 Puts an image in a blog post, with a higer resolution version on click. Call with:
 image="url to image"
 title="description of the image"
{% endcomment %}

{% assign id={{include.image | replace:'/','' | replace:':','' | replace:'.',''}} %}
 
<!--
  <button type="button" class="btn btn-primary blogimage" data-bs-toggle="modal" data-bs-target="#modal_{{id}}" aria-label="{{include.title}}" style="background-image:url('{{ include.image }}?tr=w-640')"></button>
   
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_{{id}}" aria-label="{{include.title}}"> <img src="{{ include.image }}?tr=w-640"/></button>
-->
<button type="button" class="btn blogimage" data-bs-toggle="modal" data-bs-target="#modal_{{id}}" aria-label="{{include.title}}"> 
  <img class="blogimage" src="{{ include.image }}?tr=w-640"/>
</button>
   
<div class="modal fade" id="modal_{{id}}" tabindex="-1" aria-labelledby="modal_{{id}}Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="picturecard" style="background-image:url('{{ include.image }}?tr=w-1024')"></div>
        <div class="text-center">{{include.title}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

