
<div class="container">
<div class="row">
  <div class="col">
    {% if page.url <> "/" %}
    <p><a href="/">Home</a></p>
    {% endif %}
  </div>
  <div class="col">
    <p><a href="https://feedburner.google.com/fb/a/mailverify?uri=FunSizeHikes&amp;loc=en_US">Subscribe</a></p>
 </div>
  <div class="col">
    <p><a href="/contact.html">Contact me</a></p>
 </div>
  <div class="col">
    <p><a class="text-reset" href="#">Back to top</a></p>
  </div>
   
  <div class="row">
    {% include search.html %}
  </div>
   
</div>
