<!-- This is a horzontal block of four pictures, with mouseover popups -->
<div class="container infocard">
  <div class="text-center fst-italic">Adventures on the Horizon</div>
  <div class="row p-0 gx-1 gx-md-2">
   
<!-- The Featured "upcoming adventure" will always show on the left -->
{% assign featuredposts = site.categories.upcoming | where:'featured', true %}
{% for post in featuredposts limit:1 %}
  {% include horizoncard.html %}
{% endfor %}
   
    <!-- The two most-recent adventures (that aren't the featured one) will show up next 
         TODO: filter _out_ the featured ones or they could show twice :( -->
{% for post in site.categories.upcoming limit:2 %}
  {% include horizoncard.html %}
{% endfor %}
     
    <!-- The adventure wordcloud will always show on the right -->
{% assign adventureposts = site.categories.upcoming | where:'adventure', true %}
{% for post in adventureposts limit:1 %}
  {% include horizoncard.html %}
{% endfor %}
  </div>
</div>

{{ blah }}
 
