  <!-- Adds our instagram block to the page -->      
  <script src="InstagramFeed.min.js"></script>
  <div class="container infocard">
    <div class="text-center fst-italic">Follow some of my most recent adventures 
      <a href="https://instagram.com/eloisefunsize" title="Instagram" class="text-decoration-none">
              on Instagram</a>
    </div>
    <div id="instagram-feed-demo" class="instagram_feed"></div>
  </div>
  <script>
         (function() {
            new InstagramFeed({
                'username': 'eloisefunsize',
                'container': "#instagram-feed-demo",
                'display_profile': true,
                'display_biography': true,
                'display_gallery': true,
                'display_captions': true,
                'callback': null,
                'styling': true,
                'items': 8,
                'items_per_row': 4,
                'margin': 1,
                'lazy_load': true,
                'on_error': console.error
            });
         })();
  </script>
