  <!-- Adds our instagram block to the page -->      
  <div class="container infocard">
    <div class="text-center fst-italic">Follow some of my most recent adventures 
      <a href="https://instagram.com/eloisefunsize" title="Instagram">
              on Instagram</a>
    </div>
    <div id="instagram-feed-demo" class="instagram_feed"></div>
  </div>
   
   
<script src="assets/jquery.instagramFeed.min.js"></script>
<script>
    (function($){
        $(window).on('load', function(){
            $.instagramFeed({
                'username': 'eloisefunsize',
                'container': "#instagram-feed",
                'display_profile': false,
                'display_biography': false,
                'display_gallery': true,
                'display_captions': false,
                'callback': null,
                'styling': true,
                'items': 8,
                'items_per_row': 4,
                'margin': 1 
            });
        });
    })(jQuery);
</script>
   
