<!-- To use this, drop the following in your body <header data-include='header.html'></header> -->
  <div class="collapse bg-dark fs-header" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Me</h4>
          <p class="text-white">I'm a triple crowner (PCT 2016, CDT 2017, AT 2018) with over two decades of backpacking experience. On trail, I go by Fun Size. I love everything from thirty mile days to sitting in a hammock with a beer. In 2019, I hiked Vermont's Long Trail with Chester the nine pound dog, and I'm planning on thru-hiking the Great Divide Trail in 2021.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">
            <a href="/contact.html" class="text-white">Contact Me</a>
         </h4>
          <ul class="list-unstyled">
            <li><a href="https://instagram.com/eloisefunsize" class="text-white">Follow on Instagram</a></li>
            <li><a href="https://eloiserobbins.wordpress.com" class="text-white">Follow on Wordpress</a></li>
          </ul>
        </div>
      </div>
       
      <div class="row row-cols-auto text-light text-decoration-none">
        <div class="col fst-italic">Navigation:</div>
        <div class="col"><a class="text-reset" href="/about.html">About Me</a></div>
        <div class="col"><a class="text-reset" href="/writing">Professional Writing</a></div>
        <div class="col"><a class="text-reset" href="/blog">Blogs</a></div>
      </div>
    </div>
  </div>


  <div class="navbar navbar-dark bg-dark shadow-sm fs-header">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Fun Size - Eloise Robbins</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>


