---
layout: withbanner
---

<h1 class="fw-light fs-6 fst-italic">Posted on: {{ page.date | date: "%A %B %-d, %Y" }}
  {% for ptag in page.tags %}
    {% include tagpill.html tag=ptag %}
  {% endfor %}
</h1>

{% if page.wordpress_id %}
<div class="container-fluid mb-2 p-0">
  <p class="text-center fst-italic text-muted m-0 p-0 fs-6">
This post was written in my sleeping bag at the end of a long day. Please excuse any errors.
  </p>
</div>
{% endif %}

<div class="container-fluid blog p-sm-5 row">
  <div class="col-lg-2"></div>
  <div class="col">
    {{ content | remove_first:page.excerpt }}
  </div>
  <div class="col-lg-2"></div>
</div>
 
  <div class="row pagenav justify-content-center mb-4">
    <div class="col-6 col-md-4">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="col-6 col-md-4 text-end">
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
    </div>
  </div>

  {% include author.html %}
   
  {% include comments.md %}

