---
layout: list
sitemap:
 changefreq: 'weekly'
 priority: 0.8
---

  {% include blognav.html %}

  <div class="container infocard">
    <div class="text-center fst-italic">Do you want to be notified when there are new blog posts? <a href="https://feedburner.google.com/fb/a/mailverify?uri=FunSizeHikes&amp;loc=en_US" title="Subscribe">Click here for email notifications</a>.
    </div>
  </div>

{% if page.url contains "/rev" %}
  {% assign sorted = site.categories.blog | sort: 'date' %}
  {% assign sortedby = "oldest" %}
  {% assign btnurl = "/blog" %}
  {% assign btntext = "newest first" %}
{% else %}
  {% assign sorted = site.categories.blog | sort: 'date' | reverse %}
  {% assign sortedby = "newest" %}
  {% assign btnurl = "/blog/rev" %}
  {% assign btntext = "oldest first" %}
{% endif %}

<a class="btn btn-link text-muted" href="{{btnurl}}/{{page.name | replace: ".md", ""}}" role="button">Sorted {{sortedby}} first, click here to switch to {{btntext}}</a>
 
{% for post in sorted %}
  {% if post.tags contains page.filter %}

    {% include actioncard.html 
          title=post.title
          image=post.tagimg
          leftimg=true
          text=post.excerpt
          link=post.url
          postdate=post.date
    %}
   
  {% endif %}
{% endfor %}
 
