---
layout: withbanner
---

<h1 class="fw-light fs-6 fst-italic">Posted on: {{ page.date | date: "%A %B %-d, %Y" }}
  {% for ptag in page.tags %}
    {% include tagpill.html tag=ptag %}
  {% endfor %}
</h1>

{% if page.wordpress_id %}
<div class="container-fluid mb-2 p-0">
  <p class="text-center fst-italic text-muted m-0 p-0 fs-6">
This post was written in my sleeping bag at the end of a long day. Please excuse any errors.
  </p>
</div>
{% endif %}

<div class="container-fluid blog p-sm-5 row">
  <div class="col-lg-2"></div>
  <div class="col">
    {{ content | remove_first:page.excerpt }}
  </div>
  <div class="col-lg-2"></div>
</div>
 
  <div class="row pagenav justify-content-center mb-4">
    <div class="col-6 col-md-4">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="col-6 col-md-4 text-end">
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
    </div>
  </div>

<div class="container py-3">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col authorbio">
      <div>
      <img class="bd-placeholder-img rounded-circle" alt="Eloise Robbins (Fun Size)" width="140" height="140" src="/images/justfs/fsface1-320.webp">
      </div>
      <div>
      <h1 class="fs-6">About the Author</h1>
      <p><a href="/about.html">Eloise Robbins</a> (Fun Size) is a writer, triple crown thru hiker, and adventurer. She is a lover of the outdoors, hiking, canoeing, and most of all mountains.
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    {% include comments.md %}
  </div>
</div>
