---
layout: withbanner
---

<h1 class="fw-light fs-6 fst-italic">Posted on: {{ page.date | date: "%A %B %-d, %Y" }}</h1>
{{ content | remove_first:page.excerpt }}

<div class="container py-3">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col authorbio">
      <div>
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/images/justfs/fsface1-320.webp">
      </div>
      <div>
      <h1 class="fs-6">About the Author</h1>
      <p><a href="/about.html">Eloise (Fun Size) Robbins</a> is a writer, triple crown thru hiker (PCT, CDT and AT), and adventurer. She is lover of the outdoors, hiking, canoeing, and most of all mountains.</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    {% include comments.md %}
  </div>
</div>
